{% set services_map = salt['grains.filter_by']({
  'default': {
    'enable': [],
    'disable': [],
    'start': [],
    'stop': [],
    'masked': [],
  },
},
merge=salt['pillar.get']('services', {}),
default='default')
%}
